#aaa tbody tr td:last-child {
    white-space: nowrap;
    width: 1%
}
.flag svg {
    width: 10px;
    height: 10px;
  }
body {
    background-image: url("/images/background.jpg");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
img.black {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }